0.0. IMPORTS

In [70]:
import pandas as pd
import inflection
import numpy as pn
import math
import datetime

0.2 Loading Data

In [71]:
df_sales_raw = pd.read_csv('data/train.csv', low_memory=False)
df_store_raw = pd.read_csv('data/store.csv', low_memory=False)
# merge
df_raw = pd.merge(df_sales_raw, df_store_raw, how='left', on='Store' )

1.0 DATA DESCRIPTION.

In [78]:
df1 = df_raw.copy()

1.1 Rename columns.

In [79]:
cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales','Customers','Open', 'Promo','StateHoliday','SchoolHoliday',
               'StoreType', 'Assortment','CompetitionDistance','CompetitionOpenSinceMonth','CompetitionOpenSinceYear', 
               'Promo2', 'Promo2SinceWeek','Promo2SinceYear', 'PromoInterval']
snackecase = lambda x: inflection.underscore(x)
cols_new =list(map(snackecase, cols_old))
df1.columns = cols_new

1.2 Data Dimensions

In [80]:
print(f'number of Rows: {df1.shape[0]}')
print(f'Number of cols: {df1.shape[1]}')

number of Rows: 1017209
Number of cols: 18

1.3 variable date conversion

In [81]:
df1['date'] = pd.to_datetime(df1['date'] )

1.4 Sum of NA

In [82]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

1.5 Fillout NA

In [83]:
# competition_distance    
df1.competition_distance.fillna(10000., inplace=True)
#competition_open_since_month
df1['competition_open_since_month'] = df1.apply( lambda x: x['date'].month if math.isnan( x['competition_open_since_month'] ) else x['competition_open_since_month'], axis=1 )

#competition_open_since_year 
df1['competition_open_since_year'] = df1.apply( lambda x: x['date'].year if math.isnan( x['competition_open_since_year'] ) else x['competition_open_since_year'], axis=1 )

#promo2_since_week           
df1['promo2_since_week'] = df1.apply( lambda x: x['date'].week if math.isnan( x['promo2_since_week'] ) else x['promo2_since_week'], axis=1 )

#promo2_since_year           
df1['promo2_since_year'] = df1.apply( lambda x: x['date'].year if math.isnan( x['promo2_since_year'] ) else x['promo2_since_year'], axis=1 )

#promo_interval              
month_map = {1: 'Jan',  2: 'Fev',  3: 'Mar',  4: 'Apr',  5: 'May',  6: 'Jun',  7: 'Jul',  8: 'Aug',  9: 'Sep',  10: 'Oct', 11: 'Nov', 12: 'Dec'}

df1['promo_interval'].fillna(0, inplace=True )

df1['month_map'] = df1['date'].dt.month.map( month_map )

df1['is_promo'] = df1[['promo_interval', 'month_map']].apply( lambda x: 0 if x['promo_interval'] == 0 else 1 if x['month_map'] in x['promo_interval'].split( ',' ) else 0, axis=1 )

In [69]:
df1.sample(1).T

                                           741581
store                                         892
day_of_week                                     4
date                          2013-09-05 00:00:00
sales                                        5983
customers                                     724
open                                            1
promo                                           0
state_holiday                                   0
school_holiday                                  0
store_type                                      a
assortment                                      a
competition_distance                      19370.0
competition_open_since_month                  4.0
competition_open_since_year                2002.0
promo2                                          0
promo2_since_week                            36.0
promo2_since_year                          2013.0
promo_interval                                  0
month_map                                     Sep
is_promo                                        0

In [84]:
df1.isna().sum()

store                           0
day_of_week                     0
date                            0
sales                           0
customers                       0
open                            0
promo                           0
state_holiday                   0
school_holiday                  0
store_type                      0
assortment                      0
competition_distance            0
competition_open_since_month    0
competition_open_since_year     0
promo2                          0
promo2_since_week               0
promo2_since_year               0
promo_interval                  0
month_map                       0
is_promo                        0
dtype: int64